main {
  padding-top: 100px;
  .container {
    .main_top {
      width: 100%;
      height: 100px;
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .search {
        width: 450px;
        height: 50px;
        position: relative;
        span {
          position: absolute;
          left: 20px;
          top: 17px;
          svg {
            transition: 0.3s;
            fill: var(--svg);
          }
        }
        input {
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          border-radius: 5px;
          padding-left: 60px;
          transition: 0.3s;
          font-size: 20px;
          background-color: var(--header);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.066);
          color: var(--text);
        }
        ::placeholder {
          color: var(--svg);
          transition: 0.3s;
        }
      }
      .filter {
        height: 50%;
        display: flex;
        .region {
          width: 200px;
          height: 100%;
          outline: none;
          border: none;
          border-radius: 5px;
          transition: 0.3s;
          font-size: 20px;
          background-color: var(--header);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.066);
          margin-right: 30px;
          padding-left: 10px;
          display: block;
          color: var(--text);
        }
        .region1 {
          width: 200px;
          height: 100%;
          outline: none;
          border: none;
          border-radius: 5px;
          padding-left: 10px;
          transition: 0.3s;
          font-size: 20px;
          background-color: var(--header);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.066);
          color: var(--text);
        }
        option {
          border: none;
          outline: none;
          transition: 0.3s;
          color: var(--text);
        }
      }
    }
    .countres {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: space-between;
      padding-bottom: 50px;
      .card {
        width: 280px;
        height: 336px;
        border-radius: 8px;
        background-color: var(--header);
        cursor: pointer;
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        margin-top: 40px;
        .card_img {
          width: 100%;
          height: 160px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .card_item {
          width: 100%;
          height: 100%;
          padding: 20px 0 0 20px;
          h3 {
            font-size: 23px;
            padding-bottom: 10px;
            color: var(--text);
            transition: 0.3s;
          }
          p {
            padding-top: 10px;
            color: var(--text);
            transition: 0.3s;
            span {
              transition: 0.3s;

              color: var(--span);
            }
          }
        }
      }
    }
    .pagination {
      width: 100%;
      margin: 0 auto;
      height: 30px;
      padding-bottom: 200px;
      .btns {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 40px;
          height: 40px;
          background-color: var(--header);
          font-size: 16px;
          border-radius: 5px;
          outline: none;
          border: none;
          cursor: pointer;
          color: var(--text);
          border: 1px solid rgb(38, 100, 235);
          transition: 0.3s;
          margin-left: 5px;
        }
        button:hover {
          background-color: rgb(38, 100, 235);
          color: white;
        }
        .btn.active {
          background-color: rgb(38, 100, 235);
          color: white;
        }
      }
    }
  }
}

.loading_card {
  width: 70%;
  height: 120%;
  background-color: var(--loading);
  position: absolute;
  top: -20px;
  left: 0;
  transform: rotate(5deg);
  filter: blur(80px);
  animation: 1s loading infinite linear;
}
@keyframes loading {
  0% {
    left: -170%;
  }

  100% {
    left: 170%;
  }
}

@media screen and (max-width: 1200px) {
  main {
    .container {
      .countres {
        grid-template-columns: auto auto auto;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  main {
    .container {
      .main_top {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        .filter {
          margin-top: 20px;
          width: 100%;
          .region {
            width: 100%;
          }
          .region1 {
            width: 100%;
          }
        }
        .search {
          width: 100%;
        }
      }
      .countres {
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  main {
    .container {
      .countres {
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    .container {
      .countres {
        grid-template-columns: auto auto;
        justify-content: space-between;
        .card {
          width: 95%;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  main {
    .container {
      .countres {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card {
          width: 95%;
        }
      }
      .pagination {
        .btns {
          .btn:nth-last-child(-n + 6) {
            display: none;
          }
        }
      }
    }
  }
}
